*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.491);
}
form{
    position: absolute;
    top: 7%;
    
}
label{
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    padding-top: 14px;
    padding-bottom: 2px;
    text-transform: uppercase;
}
.input, .button{
    width: 300px;
    padding: 2px;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    
    background-color:rgb(255, 255, 255);
}
input[type=text]{
    font-family: 'Times New Roman', Times, serif;
    padding: 1px;
}
.button{
    background-color: blue;
    color: aliceblue;
}
.signin-res{
    position: relative;
    bottom: -495px;
    right: 9px;
    text-transform: lowercase;
}
#symbols{
    position: absolute;
    left: -25px;
    opacity: 0.5;
    color: gray;
}